<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
    这是一个success页面
    <!--th:text 将div里面的文本内容设置为-->
    <div th:id="${hello}" th:class="${hello}" th:text="${hello}"></div>
    <hr />
    <div th:text="${hello}"></div>
    <div th:utext="${hello}"></div>

    <!--th:each每次遍历都会生成当前的这个标签：3个h4-->
    <h4 th:text="${user}" th:each="user : ${users}"></h4>
    <h4 th:each="user : ${users}">[[${user}]]</h4>

    <h4 th:each="user, i : ${users}">
        <span th:text="${i.odd}"></span>
        <span th:text="${user}" ></span>
    </h4>
</body>
</html>